.form-container {
  display: flex;
  justify-content: center;
}

.form-container2 {
  display: flex;
  justify-content: center;
  width: 40%;
}

input {
  height: 17px;
}

.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.form-style {
  margin-top: 2%;
  border: solid 3px #6f92ea;
  width: 70%;
  box-shadow: 10px 5px 5px #7fa3ff;
}

h2 {
  text-align: center;
  color: #06068d;
}

.mat-checkbox-inner-container {
  position: unset;
}

label {
  font-size: 16px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  padding-bottom: 15px;
}

mat-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#p-checkbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

#p-checkbox b {
  color: red;
  font-size: 19px;
  margin-right: 4px;
}

b {
  margin-left: 10px;
  color: red;
  font-size: 15px;
}

