<h2>Form</h2>
<div class="form-container">
  <div class="form-container2">
    <form (ngSubmit)="onSubmit()" #f="ngForm" class="form-style">
      <div
        id="user-data"
        ngModelGroup="userData">
        <div style="margin-top: 20px">
          <b>*</b>
          <label for="firstname"> &nbsp;First Name &nbsp;</label>
          <mat-form-field appearance="fill">
            <input
              matInput
              type="text"
              id="firstname"
              ngModel
              name="firstname"
              maxlength="20"
              required
              #firstName="ngModel">
            <mat-error
              *ngIf="firstName.touched && firstName.value === ''">
              *You must enter your First Name
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div>
          <b>*</b>
          &nbsp; <label for="lastname">Last Name</label>&nbsp;
          <mat-form-field appearance="fill">
            <input
              matInput
              type="text"
              id="lastname"
              ngModel
              name="lastname"
              maxlength="30"
              required
              #lastName="ngModel">
            <mat-error
              *ngIf="lastName.touched && lastName.value === '' ">
              *You must enter your Last Name
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div>
          <b>*</b>
          &nbsp; <label for="email">Email&nbsp;&nbsp;&nbsp;</label>&nbsp;
          <mat-form-field appearance="fill">
            <input
              matInput
              placeholder="exampleEmail@gmail.com"
              type="email"
              id="email"
              ngModel
              name="email"
              required
              email
              #email="ngModel"
              pattern="[\w+\.]+@([\w-]+\.)+[\w-]{2,4}">
            <mat-error
              *ngIf="email.touched && email.invalid">
              *Invalid Email
            </mat-error>
          </mat-form-field>
        </div>
        <br>
        <div>
          <b>*</b>
          &nbsp;&nbsp;<label for="gender">Gender</label>&nbsp;
          <mat-form-field appearance="fill" hideRequiredMarker>
            <mat-label>Select your gender</mat-label>
            <mat-select
              id="gender"
              name="gender"
              required
              ngModel>
              <mat-option
                [value]="gender.label"
                *ngFor="let gender of genders">
                {{gender.code}}.
                {{gender.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br>
        <div>
          <b>*</b>
          &nbsp;&nbsp;<label for="hobby">Hobby&nbsp;</label>&nbsp;
          <mat-form-field appearance="fill" hideRequiredMarker>
            <mat-label>Select your hobbies</mat-label>
            <mat-select
              id="hobby"
              required
              name="hobby"
              multiple
              ngModel>
              <mat-option
                value="{{hobby.label}}"
                *ngFor="let hobby of hobbies">
                {{hobby.code}}.
                {{hobby.label}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br>
        <div>
          <section>
            <mat-checkbox
              id="conditions"
              name="conditions"
              color="primary"
              required
              ngModel>
              <a routerLink="/conditions" target="_blank">I agree with the terms of use.</a>
            </mat-checkbox>
          </section>
          <mat-hint id="p-checkbox">
            <b>*</b> You need to confirm our conditions!
          </mat-hint>
        </div>
      </div>
      <div class="btn-container">
        <button
          mat-raised-button
          type="submit"
          color="primary"
          [disabled]="!f.valid">
          Submit
        </button>
      </div>
    </form>
  </div>
</div>
